extends layout

block content
  div.container.backdrop
    h1.text-center File Metadata Microservice
    h2 User stories:
    ol
     li I can submit a FormData object that includes a file upload.
     li When I submit something, I will receive the file size in bytes within the JSON response

    h2 Example usage:
    p.
      #{url}  -  <strong>Shows this page.</strong> <br />
      #{url}   - <strong>Post request returns the file size. </strong>  {"size":902} <br />
      
    div.well.well-lg
      h2 Try it: 
      p <br>Select a file 
      form(method="post",enctype="multipart/form-data",action="/")
        p
          input(type="file",name="upl")
        p
          input(type="submit")
